<section id="about">
  <div class="container">
    <div class="row text-center handwritten-font">
      <h1 class="display-3">About</h1>
      <hr class="hr-code" />
    </div>
    <p>Hi!</p>
    <p>I'm Aleks, software developer and test automation specialist.</p>
    <p>Just like any other IT guy, I'm in a long-term relationship with my good old lappy (still better love story than
      Twilight). obsessed with emerging technologies & breaking things apart hoping they will work better afterwards...
      if working at all.</p>
    <p>As a man of culture, I'm also pretty passionate about memes, cryptography, sci-fi & playing my Les Paul.</p>
    <p>Feel free to browse my work section and check out the things I'm working on.</p>
  </div>
</section>