<section id="about">
  <div class="container">

    <h1 class="display-3 lobster-font text-center">About</h1>
    <p>Howdy! ^.^</p>
    <p><strong>Aleks</strong> here, @ your service!</p>

    <div class="row">

      <div class="col-md-6">
        <p>I work as a <span class="highlight-pink">software developer</span> & <span class="highlight-pink">test
            automation specialist</span> and like any other "IT guy", I'm in a long-term relationship with my
          computer... yup &dash; still a better love story than Twilight... ¯\_(ツ)_/¯</p>
        <p>I remember writing my 1<sup>st</sup> few lines of code in Pascal. It was something quite simple like printing
          out some profanity but it still blew my mind & I've been hooked ever since.</p>
        <p>Nowadays I'm mostly into web & mobile development but I do keep my eye on all emerging technologies.</p>
        <p>Feel free to browse my <a href="#portfolio" class="highlight-pink">portfolio</a> and check out what I've
          been working on lately.</p>
      </div>

      <div class="col-md-6">
        <dl class="row">
          <dt class="col-sm-3 text-center text-md-end fs-5">TURN ONs:</dt>
          <dd class="col-sm-9 fst-italic text-center text-sm-start">
            coffee<br>playin' my Les Paul<br>machine learning<br>cryptography<br>sk8boarding<br>street art<br>memes
            (no, not mimes &dash; those are scary AF)</dd>
          <dt class="col-sm-3 text-center text-md-end fs-5">TURN OFFs:</dt>
          <dd class="col-sm-9 fst-italic text-center text-sm-start">bugs & code smells<br>peas (just kill
            me pls...)<br>making useless lists</dd>
        </dl>
      </div>

    </div>

  </div>
</section>

<svg xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"
  viewBox="0 143.35 1440 156.65">
  <path
    d="M 0,300 C 0,300 0,200 0,200 C 65.54311233253176,179.55754036413603 131.08622466506353,159.11508072827206 195,173 C 258.9137753349365,186.88491927172794 321.1982136722776,235.09721745104775 391,237 C 460.8017863277224,238.90278254895225 538.1209206458261,194.4960494675369 620,204 C 701.8790793541739,213.5039505324631 788.3181037444177,276.91858467880456 860,263 C 931.6818962555823,249.08141532119546 988.606664376503,157.82961181724494 1050,145 C 1111.393335623497,132.17038818275506 1177.2552387495705,197.7629680522157 1243,220 C 1308.7447612504295,242.2370319477843 1374.3723806252146,221.11851597389216 1440,200 C 1440,200 1440,300 1440,300 Z"
    stroke="none" stroke-width="0" fill="#2aa5a5ff" class="transition-all duration-300 ease-in-out delay-150 path-0">
  </path>
</svg>