<section id="contact">
  <div class="container text-center">
    <h1 class="display-3 handwritten-font">Contact</h1>
    <p>Social</p>
    <i class="bi bi-github"></i>
    <i class="bi bi-stack-overflow"></i>
    <i class="bi bi-linkedin"></i>

    <br><br>

    or simply email at
    <a id="email" href="javascript:linkTo_UnCryptMailto('nbjmup;bmflt/cfmjdAhnbjm/dpn');" class="lead">aleks.belic@<span
        style="display:none;">eat-some-garbage-ya-filthy-bot</span>gmail.com</a>
    <p><i class="bi bi-envelope-heart"></i></p>
    <i class="bi bi-fingerprint"></i>
  </div>
</section>