<section id="contact">
  <div class="container">
    <div class="row text-center handwritten-font">
      <h1 class="display-3">Contact</h1>
      <hr class="hr-code" />
    </div>
    <p class="lead">Hi!</p>
    I'm Aleks (aka Aleksanchez), software developer and test automation specialist. Although I'm a born Belgrader, I
    currently live & work in Frankfurt, Germany.
    Just like any other IT nerd, I'm in a long-term relationship with my computer (still better love story than
    Twilight), obsessed with emerging technologies & breaking things apart hoping they will work better afterwards... if
    working at all.
    <p>As a man of culture, I'm also pretty passionate about memes, cryptography, sci-fi & playing my Les Paul.</p>
    Feel free to browse my work section and check out the things I'm working on.
  </div>
</section>