<section id="portfolio">
  <div class="container">

    <h1 class="text-center reveal">// portfolio</h1>

    <div class="git-graph">
      <div class="git-graph-line"></div>

      <div class="git-commit reveal">
        <div class="commit-dot commit-dot-head"></div>
        <div class="commit-content">
          <div class="commit-meta">
            <span class="commit-hash" data-hash></span>
            <span class="commit-tag">(HEAD)</span>
            <span class="commit-date">present</span>
          </div>
          <div class="commit-msg">current focus</div>
          <div class="commit-body">
            * <span class="highlight-blue">AI</span> & <span class="highlight-blue">ML</span> (<i>LLMs, agentic programming, visual-testing</i>)<br>
            * web app test automation (<i>Playwright</i>)<br>
            * embedded systems testing (<i>pytest, Robot</i>)
          </div>
        </div>
      </div>

      <div class="git-commit reveal">
        <div class="commit-dot"></div>
        <div class="commit-content">
          <div class="commit-meta">
            <span class="commit-hash" data-hash></span>
            <span class="commit-date">2023</span>
          </div>
          <div class="commit-msg">mobile & desktop E2E test automation</div>
          <div class="commit-body">
            * <span class="highlight-blue">test automation</span> for:<br>
            &nbsp;&nbsp;* native mobile (<i>WDIO, Appium, UiAutomator2, emulator management</i>)<br>
            &nbsp;&nbsp;* .NET (<i>C#, FlaUI</i>)<br>
            * CI/CD pipelines (<i>GitLab</i>)<br>
            * REST API testing (<i>Postman, Newman, Bruno</i>)
          </div>
        </div>
      </div>

      <div class="git-commit reveal">
        <div class="commit-dot"></div>
        <div class="commit-content">
          <div class="commit-meta">
            <span class="commit-hash" data-hash></span>
            <span class="commit-date">2019</span>
          </div>
          <div class="commit-msg">ISTQB</div>
          <div class="commit-body">
            * <span class="highlight-blue">ISTQB</span>-certified by GTB (<i>German Testing Board</i>)
          </div>
        </div>
      </div>

      <div class="git-commit reveal">
        <div class="commit-dot"></div>
        <div class="commit-content">
          <div class="commit-meta">
            <span class="commit-hash" data-hash></span>
            <span class="commit-date">2017</span>
          </div>
          <div class="commit-msg">test automation</div>
          <div class="commit-body">
            * <span class="highlight-blue">test automation</span> projects (<i>Daimler, Commerzbank</i>)<br>
            * QF-Test, Groovy, XPath, Jython<br>
            * 1st <span class="highlight-blue">Android</span> app for Google Play<br>
            * Java/Kotlin<br>
            * Docker<br>
            * browser extensions for <i>Chrome</i><br>
            * JS injection (<i>Greasemonkey, Tampermonkey</i>)
          </div>
        </div>
      </div>

      <div class="git-commit reveal">
        <div class="commit-dot"></div>
        <div class="commit-content">
          <div class="commit-meta">
            <span class="commit-hash" data-hash></span>
            <span class="commit-date">2016</span>
          </div>
          <div class="commit-msg">js/ts & python</div>
          <div class="commit-body">
            * <del>AngularJS</del> / Angular2 (climax of JS framework wars)<br>
            * MVVM<br>
            * bootstrapping, grunting & gulping<br>
            * pip & virtualenv
          </div>
        </div>
      </div>

      <div class="git-commit reveal">
        <div class="commit-dot"></div>
        <div class="commit-content">
          <div class="commit-meta">
            <span class="commit-hash" data-hash></span>
            <span class="commit-date">2015</span>
          </div>
          <div class="commit-msg">full-stack php</div>
          <div class="commit-body">
            * <span class="highlight-blue">PHP</span>(<i>Laravel, Yii2, Symfony</i>)<br>
            * MVC<br>
            * DB management<br>
            * unit testing<br>
            * VCS (<i>Git, SVN</i>)<br>
            * CI/CD pipelines (<i>Jenkins</i>)<br>
            * #!/bin/bash scripting<br>
            * dependency management<br>
            * server maintenance (<i>Apache2, SSH, Certbot etc.</i>)<br>
            * 1st GitHub contributions &amp; open-source projects
          </div>
        </div>
      </div>

      <div class="git-commit reveal">
        <div class="commit-dot"></div>
        <div class="commit-content">
          <div class="commit-meta">
            <span class="commit-hash" data-hash></span>
            <span class="commit-date">2014</span>
          </div>
          <div class="commit-msg">education</div>
          <div class="commit-body">
            <span class="highlight-blue">BSc Computer Science</span> &mdash;
            <i>"So it begins..."</i> ( ಠ.ಠ)⸸
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
