<section id="portfolio">
  <div class="container">

    <h1 class="display-3 lobster-font text-center">Portfolio</h1>

    <div class="row">
      <div class="col">
        <p>After getting my <span class="highlight-dark">bachelor's degree in computer science</span>, I've been
          working on various DEV & QA projects.</p>
        <p>It kicked off with web development, more precisely, I started as a full-stack <span
            class="highlight-dark">PHP</span>developer. This involved using several frameworks like Laravel, Yii2 &
          Symfony. It gave me a solid knowledge of MVC architecture, both front & back-end programming, unit testing &
          dependency management.</p>
        <p>Being part of a team also required to get familiar with <span class="highlight-dark">version control</span>
          systems like Git & Subversion as well as <span class="highlight-dark">CI/CD</span> tools like Jenkins, GitLab
          and CLI scripting.</p>
        <p>Down the road I also became <span class="highlight-dark">ISTQB</span> certified tester and began <span
            class="highlight-dark">test automation</span> for some large-scale projects for Mercedes Benz & Commerzbank.
          Beside explorative & functional testing, it also required a great deal of flexibility like programming custom
          browser extensions, learning XPath, Jython, Groovy etc.</p>
        <p>Fast paced development of mobile apps provided me with the opportunity to grasp the basic concepts of <span
            class="highlight-dark">Android</span> platform and even publish my own app <a
            href="https://play.google.com/store/apps/details?id=com.codemajesty.latcyr"><i>Latinica ⇄ Ћирилица</i></a>
          &dash; a highly customizable Cyrillic-Latin converter thoroughly tested with Espresso.</p>
        <p>As an <span class="highlight-dark">open-source</span> software advocate, I'm contributing to community-driven
          projects whenever I can, also donating my spare computing power to medical, environmental and other
          humanitarian research conducted by <a href="https://www.worldcommunitygrid.org/" target="_blank">World
            Community Grid</a>.</p>
        <p>Nowadays, I'm trying to deepen my knowledge of <span class="highlight-dark">Node.js/Bun</span> runtime and
          beef up my <span class="highlight-dark">JavaScript/TypeScript</span> kung fu. As a dominant language of the
          Web, I find it perfect for development & test automation of modern SPAs.</p>
      </div>

    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-xs-12 col-sm-10 col-md-7 col-lg-5">
        <div class="ct-chart ct-golden-section" id="my-current-interests-chart"></div>
        <div class="text-center"><i>My current interests</i></div>
      </div>
    </div>

  </div>
</section>

<svg xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"
  viewBox="0 100 1440 172.26">
  <path
    d="M 0,300 C 0,300 0,200 0,200 C 124.18181818181822,224.53588516746413 248.36363636363643,249.07177033492823 330,231 C 411.63636363636357,212.92822966507177 450.72727272727263,152.2488038277512 528,134 C 605.2727272727274,115.7511961722488 720.7272727272727,139.93301435406698 826,174 C 931.2727272727273,208.06698564593302 1026.3636363636365,252.01913875598086 1127,258 C 1227.6363636363635,263.98086124401914 1333.8181818181818,231.99043062200957 1440,200 C 1440,200 1440,300 1440,300 Z"
    stroke="none" stroke-width="0" fill="#2aa5a5ff" class="transition-all duration-300 ease-in-out delay-150 path-0"
    transform="rotate(-180 720 200)"></path>
</svg>