<section id="portfolio">
  <div class="container">
    <div class="row text-center handwritten-font">
      <h1 class="display-3">Portfolio</h1>
    </div>
    <div class="row">
      "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by
      the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are
      bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the
      same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In
      a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like
      best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the
      claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and
      annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he
      rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains."
    </div>
  </div>
</section>

<svg id="svg" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"
  viewBox="0 100 1440 172.26">
  <path
    d="M 0,300 C 0,300 0,200 0,200 C 124.18181818181822,224.53588516746413 248.36363636363643,249.07177033492823 330,231 C 411.63636363636357,212.92822966507177 450.72727272727263,152.2488038277512 528,134 C 605.2727272727274,115.7511961722488 720.7272727272727,139.93301435406698 826,174 C 931.2727272727273,208.06698564593302 1026.3636363636365,252.01913875598086 1127,258 C 1227.6363636363635,263.98086124401914 1333.8181818181818,231.99043062200957 1440,200 C 1440,200 1440,300 1440,300 Z"
    stroke="none" stroke-width="0" fill="#2aa5a5ff" class="transition-all duration-300 ease-in-out delay-150 path-0"
    transform="rotate(-180 720 200)"></path>
</svg>