@font-face {
  font-family: 'Amatic';
  src: url('/assets/font/AmaticSC-Regular.ttf');
}
@font-face {
  font-family: 'Lobster';
  src: url('/assets/font/Lobster-Regular.ttf');
}
.lobster-font {
  font-family: 'Lobster', cursive;
}
.handwritten-font {
  font-family: 'Amatic', coursive;
}

body {
  text-align: justify;
  color: #233140;
}

a,
a:hover {
  color: unset;
}

nav {
  background-color: transparent;
}

nav .navbar-brand {
  color: #f5f5dc;
  text-shadow: 2px 2px 4px #000;
}

.navbar-brand img {
  width: 2em;
}
.navbar-brand:hover img {
  animation: ring 1s 0s ease-in-out;
}
button.navbar-toggler {
  border: none;
}
button.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23f5f5dc' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar.fixed-top.navbar-shrink {
  padding: 0;
  background-color: teal;
  transition: background-color 0.3s;
  box-shadow: 0 6px 10px rgb(0 0 0 / 30%);
}

#navbarSupportedContent {
  backdrop-filter: blur(10px);
}

a.nav-link {
  text-align: center;
  font-size: 2rem;
  color: #f5f5dc;
  text-shadow: 2px 2px 4px #000;
  position: relative;
}
.navbar a.nav-link.active {
  color: #dcdc9a;
  background-color: #233140;
}
a.nav-link:focus,
a.nav-link:hover,
a.navbar-brand:hover {
  color: #dcdc9a;
}
a.nav-link:before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 6px solid #233140;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
a.nav-link:hover:before {
  transform: scaleX(1);
}

header {
  padding-top: 8em;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
}
header,
#portfolio {
  color: #f5f5dc;
  background-color: #2aa5a5;
}
header img#profile-pic {
  border-radius: 50%;
  position: relative;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  transition: box-shadow 0.1s;
}

.hover-sonar {
  display: inline-block;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  position: relative;
  background: #ffffff1a;
  transition: transform ease-out 0.2s;
}
.hover-sonar:after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  top: 0;
  left: 0;
  padding: 0;
  opacity: 0;
  color: transparent;
}
.hover-sonar:hover {
  transform: scale(0.95);
}
.hover-sonar:hover:after {
  animation: sonar 1.3s ease-out;
}
.hover-sonar:hover img#profile-pic {
  box-shadow: none;
}
header #name {
  line-height: normal;
  font-size: calc(3rem + 3.3vw);
}
header #code-divider {
  display: flex;
  justify-content: center;
  align-items: center;
}
header #code-divider span {
  border-top: 1px solid #f5f5dc;
  min-width: 10%;
  box-shadow: 2px 2px 4px #000;
  padding: 0 2% 0 2%;
}
header #code-divider i {
  padding: 0 1% 0 1%;
}

header #skills {
  font-size: 3em;
}

section {
  padding-top: 5rem;
  padding-bottom: 4rem;
}
section h1 {
  padding-bottom: 2rem;
  text-decoration: dotted underline;
}

/* Personal interests chart */
#my-current-interests-chart .ct-label {
  fill: #000;
  font-family: 'Amatic', coursive;
  font-size: 1.9em;
  font-weight: bold;
}
#my-current-interests-chart .ct-series-a path {
  stroke: dimgray;
}
#my-current-interests-chart .ct-series-b path {
  stroke: #f05b4f;
}
#my-current-interests-chart .ct-series-c path {
  stroke: #f4c63d;
}

#contact a {
  display: inline-block;
  text-decoration: none;
  font-size: 3.5rem;
  padding: 0 0.4rem 0 0.4rem;
  transition: color 0.15s ease-out, transform 0.15s ease-out;
}
#contact a:hover {
  color: hotpink;
  transform: scale(1.1);
}
#contact #email-btn-group button:focus {
  box-shadow: none;
}
#contact #email {
  pointer-events: none;
  font-weight: bold;
  color: #2aa5a5;
  max-width: fit-content;
  text-align: center;
  transition: color 0.15s ease-out, background-color 0.15s ease-out;
  font-size: 1rem;
}
#contact #pgp-key {
  display: none;
}

footer {
  color: #f5f5dc;
  background-color: #233140;
}

/* ANIMATIONS */
@keyframes ring {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@keyframes sonar {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px #ffffff1a, 0 0 10px 10px #f5f5dc, 0 0 0 10px #ffffff80;
  }
  100% {
    box-shadow: 0 0 0 2px #ffffff1a, 0 0 10px 10px #f5f5dc, 0 0 0 10px #ffffff80;
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

.highlight-pink,
.highlight-dark {
  padding-left: 3px;
  padding-right: 3px;
}
.highlight-pink a,
.highlight-dark a,
a.highlight-pink,
a.highlight-dark {
  color: unset;
}
.highlight-pink.visible {
  animation: 1.5s highlight 1s 1 normal forwards;
  background: linear-gradient(90deg, #ffc5e2 50%, #ffffff00 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}
.highlight-dark.visible {
  animation: 1.5s highlight 1s 1 normal forwards;
  background: linear-gradient(90deg, #233140 50%, #ffffff00 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@media (min-width: 768px) {
  .navbar.fixed-top {
    padding: 1em 0;
    transition: padding 0.3s;
  }

  .navbar.fixed-top .navbar-brand {
    font-size: 2em;
    transition: all 0.3s;
  }

  .navbar.fixed-top.navbar-shrink {
    padding: 0;
  }

  .navbar.fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }

  header {
    padding-top: 9em;
  }
  header #name {
    font-size: 6rem;
  }

  #contact #email {
    font-size: 1.25rem;
  }
}
