@font-face {
  font-family: 'Amatic';
  src: url('/assets/font/AmaticSC-Regular.ttf');
}
@font-face {
  font-family: 'Lobster';
  src: url('/assets/font/Lobster-Regular.ttf');
}
.lobster-font {
  font-family: 'Lobster', cursive;
}
.handwritten-font {
  font-family: 'Amatic', coursive;
}

body {
  text-align: justify;
  color: #233140;
}

nav {
  background-color: transparent;
}
.nav-link:focus,
.nav-link:hover {
  color: #bf2832;
}

a.nav-link.active {
  background-color: #233140;
}

.navbar-brand {
  color: #f5f5dc;
  text-shadow: 2px 2px 4px #000;
}

.navbar-brand img {
  width: 2em;
}

.nav-link {
  font-size: 2rem;
  color: #f5f5dc;
  text-shadow: 2px 2px 4px #000;
}

img.shadow {
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}

header {
  padding-top: 8em;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
}
header,
#portfolio {
  color: #f5f5dc;
  background-color: #2aa5a5;
}
header #profile-pic {
  border-radius: 50%;
  margin-bottom: 40px;
}
header #name {
  font-size: 5em;
}
header #binary-divider {
  display: flex;
  justify-content: center;
  align-items: center;
}
header #binary-divider span {
  border-top: 1px solid #f5f5dc;
  min-width: 10%;
  box-shadow: 2px 2px 4px #000;
  padding: 0 2% 0 2%;
}
header #binary-divider i {
  padding: 0 1% 0 1%;
}

header #skills {
  font-size: 3em;
}

section {
  padding-top: 5rem;
  padding-bottom: 4rem;
}
section h1 {
  padding-bottom: 2rem;
  text-decoration: dotted underline;
}

@media (min-width: 768px) {
  .navbar.fixed-top {
    padding: 1em 0;
    transition: padding 0.3s;
  }

  .navbar.fixed-top .navbar-brand {
    font-size: 2em;
    transition: all 0.3s;
  }

  .navbar.fixed-top.navbar-shrink {
    padding: 0;
    background-color: teal;
    transition: background-color 0.3s;
    box-shadow: 0 6px 10px rgb(0 0 0 / 30%);
  }

  .navbar.fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }

  header {
    padding-top: 9em;
  }
}

#contact i.bi {
  font-size: 3.5rem;
  padding: 0 0.4rem 0 0.4rem;
}
#contact a {
  text-decoration: none;
  color: unset;
  transition: color 0.3s ease-in-out;
}
#contact a:hover {
  color: #e7294f;
}
#contact #email {
  text-decoration: none;
  font-weight: bold;
  color: #2aa5a5;
  box-shadow: inset 0 0 0 0 #2aa5a5;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
#contact #email:hover {
  box-shadow: inset 265px 0 0 0 #2aa5a5;
  color: #f5f5dc;
}

footer {
  color: #fff;
  background-color: #233140;
}
